@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: url('https://guardian.co.tt/image-3.2775240.104770.20200521011635.a310caa0b1?size=1024');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        width:100%
        height: auto;
        margin: 0;
    }

    .text-container {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .text-center {
        text-align: center;
    }

    .bolder-text {
        font-weight: bold;
    }
</style>

<div class="text-container">
    <div class="text-center">
        <h1 class="display-4">Welcome to the Massy Stores Budget Management System</h1>
        <p>A User-Friendly Way To Manage Your Budgets Efficiently</p>
    </div>
</div>